# Ignorar la carpeta de secretos de Streamlit (si la vuelves a usar)
.streamlit/
.env

# Ignore all Excel files
*.xlsx

Estadística aplicada a los negocios - Calificaciones finales - 1er cuatrimestre 2025.xlsx

# Ignore all CSV files
*.csv

# Ignore all Jupyter Notebook files
*.ipynb
